body {
    color: #fff;
}

/* styling for the main page and base for other pages */
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(255, 196, 18);
    font-size: 3rem;
    min-width: 100rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(6, 34, 247);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 4rem 4rem;
    color: white;
}

.choice-text {
    padding: 4rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* Heads Up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 4rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(43, 11, 223);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(223, 92, 11);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
}